.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg-main);
  padding: 0 var(--spacing-lg);
  box-shadow: var(--shadow-sm);
}

.header__container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container .title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.container-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  font-size: var(--font-size-lg);
}

.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md);
  border-radius: 50%;
  padding: var(--spacing-md);
  background-color: var(--color-primary);
  color: var(--color-bg-main);
}
